@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  color: #fff;
  text-decoration: none;
}

.overlay {
  background-image: linear-gradient(-225deg, #e99a08 0%, #fc09e7 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Roboto Condensed', sans-serif;
  opacity: 0.95;
  position: absolute;
  height: 100%;
  width: 100%;
}

.form {
  max-width: 450px;
  width: 100%;
  min-height: 500px;
  height: auto;
  border-radius: 5px;
  margin: 5% auto;
  box-shadow: 20px 20px 20px hsl(42deg 8% 32% / 31%);
  padding: 2%;
  background-image: linear-gradient(-225deg, #dfbfa1 50%, #df8b8b 50%);
}

.con {
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: space-between;
  justify-content: space-around;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  margin: 0 auto;
}

.head-form {
  margin: 1rem auto 2rem auto;
  text-align: center;
}

.head-form h2 {
  font-size: 250%;
  font-family: 'Roboto Condensed', sans-serif;
  color: #3e403f;
  margin-bottom: 2rem;
}

.head-form p {
  letter-spacing: 0.05em;
}

.input-item {
  background-color: #fff;
  width: 13%;
  padding: 0.93rem;
  border-right: 1px solid #c6c1c159;
}

.form-input {
  width: 87%;
  padding: 0.98rem;
  border: none;
  background-color: #fff;
  font-size: 0.9rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.form-input:focus {
  outline: none;
}

.input-field {
  max-width: 22rem;
  width: 100%;
  margin: 1.5rem 0 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.field-set {
  max-width: 22rem;
  width: 100%;
}

button {
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  margin: 7% auto;
  letter-spacing: 0.05em;
  font-family: 'Roboto Condensed', sans-serif;
}

.log-in {
  width: 100%;
  color: #252537;
  padding: 0.9rem 1rem;
  background: #fff;
  border-radius: 5px;
  font-size: 0.9rem;
}

.other {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.btn-frgtpass {
  background-color: #ffffff2e;
  padding: 1rem;
}

.btn-sign-up {
  background: #ed3535;
  color: #fff;
  padding: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
}

button:hover {
  transform: translatey(3px);
  box-shadow: none;
}

button:hover {
  animation: ani9 0.4s ease-in-out infinite alternate;
}

@keyframes ani9 {
  0% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(5px);
  }
}